<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Products</title>
    <link rel="icon" href="{% static 'ava4.png' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'sass/product.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
    <div class="menu-box">
        <div class="menu-mini-icon"><i class="fas fa-bars"></i></div>
        <div class="menu">
            <a href="../" class="menu-text">My Space</a>
            <p class="menu-text menu-design">Design</p>
            <p class="menu-text menu-programming">Programming</p>
        </div>
    </div>
    <div class="menu-fixed">
        <div class="menu">
            <p class="menu-text menu-design">Design</p>
            <p class="menu-text menu-programming">Programming</p>
        </div>
    </div>
    <div class="banner">
        <div class="banner-block1"></div>
        <div class="banner-blockTitle">
            <p class="banner-blockTitle--title">B</p>
            <p class="banner-blockTitle--title">A</p>
            <p class="banner-blockTitle--title">N</p>
            <p class="banner-blockTitle--title">N</p>
            <p class="banner-blockTitle--title">E</p>
            <p class="banner-blockTitle--title">R</p>
        </div>
        <div id="slideshow">
            <img id="banner2" class="banner-block2" src="{% static 'photo/sp1/banner2.png' %}" />
            <img id="banner3" class="banner-block2" src="{% static 'photo/sp1/banner3.png' %}" />
            <img id="banner1" class="banner-block2" src="{% static 'photo/sp1/banner1.png' %}" />
        </div>
        <div id="banner-text">
            <p class="banner-text--text3">WEBSITE HUE UNIVERSITY OF FOREIGN LANGUAGES</p>
            <p class="banner-text--text1">WEBSITE LABANTOUR</p>
            <p class="banner-text--text2">WEBSITE DANANGHOTELS</p>
        </div>
    </div>
    <script type="text/javascript">
        $("#slideshow > img:gt(-1)").hide();
        $("#banner-text > p").hide();
        setInterval(function () {
            $("#slideshow > img:first")

                .next()
                .fadeIn(1000)
                .end()
                .appendTo("#slideshow");

        }, 3000);
        setInterval(function () {

            $("#banner-text > p:first")
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo("#banner-text");
        }, 3000);
    </script>
    <div class="flyer">
        <div class="flyer-container">
            <img id="flyer-1" class="flyer-container--item" src="{% static 'photo/sp3/ll6.png' %}" />
            <img id="flyer-2" class="flyer-container--item" src="{% static 'photo/sp3/ll5.png' %}" />
            <img id="flyer-3" class="flyer-container--item" src="{% static 'photo/sp3/map2.png' %}" />

        </div>
        <div class="flyer-text">
            <p id="flyer-text-1">VIETNAM DEPARTMENT, HUE UNIVERSITY OF FOREIGN LANGUAGES</p>
            <p id="flyer-text-2">HUE UNIVERSITY OF FOREIGN LANGUAGES 2021</p>
            <p id="flyer-text-3">DANANG TRAVEL MAP</p>
        </div>
        <script type="text/javascript">
            $("#flyer-1").delay(3000).fadeIn();
            $("#flyer-2").delay(3500).fadeIn();
            $("#flyer-3").delay(4000).fadeIn();
            $("#flyer-text-1").delay(5000).fadeIn(500);
            $("#flyer-text-2").delay(5500).fadeIn(500);
            $("#flyer-text-3").delay(6000).fadeIn(500);
        </script>
    </div>
    <div id="text-art" class="text-standy-voucher">
        <p id="text-standy-1">Some</p>
        <p id="text-standy-2">Mural Art</p>
    </div>
    <div class="art">
        <div class="art-block">
            <div class="art-block-inner">
                <img class="art-front--img" src="{% static 'photo/sp4/tranh1.png' %}" />
                <div class="art-back--content">
                    <p class="art-back-title">MURAL ART</p></br>
                    <p>"No pressure no money"</p>
                </div>
            </div>
        </div>
        <div class="art-block">
            <div class="art-block-inner">
                <img class="art-front--img" src="{% static 'photo/sp4/tranh2.png' %}" />
                <div class="art-back--content">
                    <p class="art-back-title">MURAL ART</p></br>
                    <p>"Who understands the customer that he or she sells goods"</p>
                </div>
            </div>
        </div>
        <div class="art-block">
            <div class="art-block-inner">
                <img class="art-front--img" src="{% static 'photo/sp4/tranh3.png' %}" />
                <div class="art-back--content">
                    <p class="art-back-title">MURAL ART</p></br>
                    <p>"Do not ever think, living and working must have conscience and responsibility"</p>
                </div>
            </div>
        </div>
        <div class="art-block">
            <div class="art-block-inner">
                <img class="art-front--img" src="{% static 'photo/sp4/tranh4.png' %}" />
                <div class="art-back--content">
                    <p class="art-back-title">MURAL ART</p></br>
                    <p>"What I can do to better for customer today"</p>
                </div>
            </div>
        </div>
        <div class="art-block">
            <div class="art-block-inner">
                <img class="art-front--img" src="{% static 'photo/sp4/tranh5.png' %}" />
                <div class="art-back--content">
                    <p class="art-back-title">MURAL ART</p></br>
                    <p>"Professional offers, successful sales"</p>
                </div>
            </div>
        </div>

    </div>

    <div id="text-standy" class="text-standy-voucher">
        <p id="text-standy-1">Some</p>
        <p id="text-standy-2">Standy & Voucher</p>
    </div>
    <div class="standy-voucher-container">
        <div class="standy-voucher">
            <div>
                <div class="standy-block">
                    <img id="standy-1" class="standy-block-item" src="{% static 'photo/sp2/standee1.png' %}" />
                    <img id="standy-2" class="standy-block-item" src="{% static 'photo/sp2/standee2.png' %}" />
                    <img id="standy-3" class="standy-block-item" src="{% static 'photo/sp2/standee3.png' %}" />
                </div>
                <div class="standy-text">
                    <p id="standy-text-0" class="standy-text-title">Standee</p>
                    <p id="standy-text-1" class="standy-text-decrib">Hue University of Foreign Language Admission 2020
                    </p>
                    <p id="standy-text-2" class="standy-text-decrib">VACS recruitment</p>
                    <p id="standy-text-3" class="standy-text-decrib">Danang tours and attractions</p>
                </div>
                <div class="voucher-container">
                    <div class="voucher-block">
                        <img class="voucher-block-item" id="voucher-1" src="{% static 'photo/sp5/voucher1.png' %}" />
                        <img class="voucher-block-item" id="voucher-2" src="{% static 'photo/sp5/voucher2.png' %}" />
                        <img class="voucher-block-item" id="voucher-3" src="{% static 'photo/sp5/voucher3.png' %}" />
                    </div>
                    <div class="voucher-text">
                        <p class="voucher-text-title">Voucher</p>
                        <p id="voucher-text-1" class="voucher-text-decrib">Opening Nuvola Furniture Company</p>
                        <p id="voucher-text-2" class="voucher-text-decrib">Opening Nuvola Furniture Company</p>
                        <p id="voucher-text-3" class="voucher-text-decrib">Opening Rom's Casa hotel Danang</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // $(".standy-block > img:gt(0)").hide();
        // setInterval(function () {
        //     $(".standy-block > img:first")
        //     .fadeOut(1000)
        //     .next()
        //     .fadeIn(1000)
        //     .end()
        //     .appendTo(".standy-block");
        // }, 3000);

    </script>

    <div id="text-app" class="text-standy-voucher">
        <p id="text-standy-1">Some</p>
        <p id="text-standy-2">Website & App</p>
    </div>
    <div class="program">
        <div class="program-container">

            <div class="program-blog">
                <div class="program-background"></div>
                <p class="program-title-1">Blog</p>
                <p class="program-title-2">Website</p>
                <img class="program-photo"></img>
                <div class="program-draw-1"></div>
                <div class="program-draw-2"></div>
                <p class="program-decrib"></p>
            </div>
            <div class="program-profile">
                <div class="program-background"></div>
                <p class="program-title-1">Profile</p>
                <p class="program-title-2">Website</p>
                <img class="program-photo"></img>
                <div class="program-draw-1"></div>
                <div class="program-draw-2"></div>
                <p class="program-decrib"></p>
            </div>
            <div class="program-chatapp">
                <div class="program-background"></div>
                <p class="program-title-1">Chat</p>
                <p class="program-title-2">App</p>
                <img class="program-photo"></img>
                <div class="program-draw-1"></div>
                <div class="program-draw-2"></div>
                <p class="program-decrib"></p>
            </div>
        </div>
        <div class="program-close-container">
            <div class="program-close">
                <p style="font-size: 1.5em; font-weight: lighter;">&#10006</p>
            </div>
        </div>
        <div class="program-click-container">
            <div id="program-1" class="program-click">
                <img class="program-photo" src="{% static 'blog_product.png' %}"></img>
                <div class="program-decrib">
                    <p class="program-decrib-1">Blog Website</p>
                    <p class="program-decrib-2">Languages: Python, html, CSS, JavaScript </br>
                        Framework: Django, Bootstrap</br>
                        Library: Jquery</br>
                        Database: MySQL</p>
                </div>
            </div>
            <div id="program-2" class="program-click">
                <img class="program-photo" src="{% static 'profile-website.png' %}"></img>
                <div class="program-decrib">
                    <p class="program-decrib-1">Profile Website</p>
                    <p class="program-decrib-2">Languages: Python, html, CSS, JavaScript </br>
                        Framework: Django, Bootstrap</br>
                        Library: Jquery, ThreeJS</br>
                    </p>
                </div>
            </div>
            <div id="program-3" class="program-click">
                <img class="program-photo" src="{% static 'chat-app2.png' %}"></img>
                <div class="program-decrib">
                    <p class="program-decrib-1">Chat App</p>
                    <p class="program-decrib-2">Languages: JavaScript, html, CSS</br>
                        Library: React</br>
                        Environment: NodeJS</br>
                        Database: MongoDB</p>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(function () {
            $("#standy-1").hover(function () {
                $(this).css('opacity', '1');
                $("#standy-text-1").css('color', '#f10071')
            }, function () {
                $(this).css('opacity', '0.7');
                $("#standy-text-1").css('color', 'white')
            });
            $("#standy-2").hover(function () {
                $(this).css('opacity', '1');
                $("#standy-text-2").css('color', '#f10071')
            }, function () {
                $(this).css('opacity', '0.7');
                $("#standy-text-2").css('color', 'white')
            });
            $("#standy-3").hover(function () {
                $(this).css('opacity', '1');
                $("#standy-text-3").css('color', '#f10071')
            }, function () {
                $(this).css('opacity', '0.7');
                $("#standy-text-3").css('color', 'white')
            });
            // $(".voucher-text").hover(function () {
            //         $(".voucher-text-title").animate({left:'50vw'});
            //         $("#voucher-text-1").animate({left:'30vw', top: '-20vh' });
            //         $("#voucher-text-2").animate({left:'30vw', top: '0vh' });
            //         $("#voucher-text-3").animate({left:'30vw', top: '20vh'});
            //         $("#voucher-text-1, #voucher-text-2, #voucher-text-3").css('color', '#f10071')
            //         $(".voucher-block").animate({left:'10vw'});

            //     }, )
            $(".menu-design").click(function () {
                $("body,html").animate({ scrollTop: 0 }, "slow");
            });
            $(".menu-programming").click(function () {
                $("body,html").animate({ scrollTop: 5000 }, "slow");
            });



        });
        function min1500px(x) {
            if (x.matches) {
                $(function () {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > 100) $(".menu-fixed").fadeIn();
                        else $(".menu-fixed").fadeOut();
                        if ($(this).scrollTop() > 1000) $("#text-art").fadeIn(490);
                        if ($(this).scrollTop() > 1300) $(".art-front--img").css({ 'opacity': '1', 'height': '50vh' });
                        if ($(this).scrollTop() > 2000) $("#text-standy").fadeIn(490);
                        if ($(this).scrollTop() > 2500) {
                            $(".standy-block").fadeIn();
                            $(".standy-text").fadeIn();
                        };
                        if ($(this).scrollTop() > 3400) {
                            $(".voucher-block").fadeIn(500);
                            $(".voucher-text").fadeIn(500);
                        };
                        if ($(this).scrollTop() > 3800) $("#text-app").fadeIn(490);
                        if ($(this).scrollTop() > 3900) $(".program-container").css({ 'opacity': '1' });


                    });



                });
            }
        }
        function max600px(x) {
            if (x.matches) {
                $(function () {
                    $(window).scroll(function () {

                        if ($(this).scrollTop() > 200) $("#text-art").fadeIn(490);
                        if ($(this).scrollTop() > 400) $(".art-front--img").css({ 'opacity': '1', 'height': '20vh' });
                        if ($(this).scrollTop() > 700) $("#text-standy").fadeIn(490);
                        if ($(this).scrollTop() > 900) {
                            $(".standy-block").fadeIn();
                            $(".standy-text").fadeIn();
                        };
                        if ($(this).scrollTop() > 1200) {
                            $(".voucher-block").fadeIn(500);
                            $(".voucher-text").fadeIn(500);
                        };
                        if ($(this).scrollTop() > 1600) $("#text-app").fadeIn(490);
                        if ($(this).scrollTop() > 1900) $(".program-container").css({ 'opacity': '1' });


                    });



                });
            }
        }
        function max768px(x) {
            if (x.matches) {
                $(function () {
                    $(window).scroll(function () {

                        if ($(this).scrollTop() > 150) $("#text-art").fadeIn(490);
                        if ($(this).scrollTop() > 350) $(".art-front--img").css({ 'opacity': '1', 'height': '25vh' });
                        if ($(this).scrollTop() > 650) $("#text-standy").fadeIn(490);
                        if ($(this).scrollTop() > 900) {
                            $(".standy-block").fadeIn();
                            $(".standy-text").fadeIn();
                        };
                        if ($(this).scrollTop() > 1200) {
                            $(".voucher-block").fadeIn(500);
                            $(".voucher-text").fadeIn(500);
                        };
                        if ($(this).scrollTop() > 1600) $("#text-app").fadeIn(490);
                        if ($(this).scrollTop() > 1900) $(".program-container").css({ 'opacity': '1' });


                    });


                });
            }
        }
        function max992px(x) {
            if (x.matches) {
                $(function () {
                    $(window).scroll(function () {

                        if ($(this).scrollTop() > 150) $("#text-art").fadeIn(490);
                        if ($(this).scrollTop() > 350) $(".art-front--img").css({ 'opacity': '1', 'height': '25vh' });
                        if ($(this).scrollTop() > 650) $("#text-standy").fadeIn(490);
                        if ($(this).scrollTop() > 900) {
                            $(".standy-block").fadeIn();
                            $(".standy-text").fadeIn();
                        };
                        if ($(this).scrollTop() > 1200) {
                            $(".voucher-block").fadeIn(500);
                            $(".voucher-text").fadeIn(500);
                        };
                        if ($(this).scrollTop() > 1600) $("#text-app").fadeIn(490);
                        if ($(this).scrollTop() > 1900) $(".program-container").css({ 'opacity': '1' });


                    });
                    $(".program-blog").click(function () {

                        $(".program-container").animate({ 'top': '60vh', 'height': '40vh' });

                        $(".program-close").css({ 'right': '30px' });
                        $("#program-1").show()
                        $("#program-2").hide()
                        $("#program-3").hide()

                    });
                    $(".program-profile").click(function () {

                        $(".program-container").animate({ 'top': '60vh', 'height': '40vh' });

                        $(".program-close").css({ 'right': '30px' });
                        $("#program-2").show()
                        $("#program-3").hide()
                        $("#program-1").hide()
                    });
                    $(".program-chatapp").click(function () {

                        $(".program-container").animate({ 'top': '60vh', 'height': '40vh' });

                        $(".program-close").css({ 'right': '30px' });
                        $("#program-3").show()
                        $("#program-2").hide()
                        $("#program-1").hide()
                    });
                    $(".program-close").click(function () {

                        $(".program-container").animate({ 'top': '10vh' });
                        $(".program-container").css({
                            'flex-flow': 'row'

                        });
                        $(".program-close").css({ 'right': '-50px' });
                        $("#program-3").hide()
                        $("#program-2").hide()
                        $("#program-1").hide()
                    });
                    $(".menu-mini-icon").click(function () {
                        $(".menu").toggle("slow");
                    });
                });
            }
        }
        function min992px(x) {
            if (x.matches) {
                $(function () {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > 100) $(".menu-fixed").fadeIn();
                        else $(".menu-fixed").fadeOut();
                        if ($(this).scrollTop() > 800) $("#text-art").fadeIn(490);
                        if ($(this).scrollTop() > 900) $(".art-front--img").css({ 'opacity': '1', 'height': '35vh' });
                        if ($(this).scrollTop() > 1700) $("#text-standy").fadeIn(490);
                        if ($(this).scrollTop() > 1800) {
                            $(".standy-block").fadeIn();
                            $(".standy-text").fadeIn();
                        };
                        if ($(this).scrollTop() > 2500) {
                            $(".voucher-block").fadeIn(500);
                            $(".voucher-text").fadeIn(500);
                        };
                        if ($(this).scrollTop() > 3500) $("#text-app").fadeIn(490);
                        if ($(this).scrollTop() > 3600) $(".program-container").css({ 'opacity': '1' });


                    });
                    $(".program-blog").click(function () {

                        $(".program-container").animate({ 'top': '-30vh', 'left': '80%', 'width': '15vw' });
                        $(".program-container").css({
                            'flex-flow': 'column'

                        });
                        $(".program-close").css({ 'right': '50px' });
                        $("#program-1").show()
                        $("#program-2").hide()
                        $("#program-3").hide()

                    });
                    $(".program-profile").click(function () {

                        $(".program-container").animate({ 'top': '-30vh', 'left': '80%', 'width': '15vw' });
                        $(".program-container").css({
                            'flex-flow': 'column'

                        });
                        $(".program-close").css({ 'right': '50px' });
                        $("#program-2").show()
                        $("#program-3").hide()
                        $("#program-1").hide()
                    });
                    $(".program-chatapp").click(function () {

                        $(".program-container").animate({ 'top': '-30vh', 'left': '80%', 'width': '15vw' });
                        $(".program-container").css({
                            'flex-flow': 'column'

                        });
                        $(".program-close").css({ 'right': '50px' });
                        $("#program-3").show()
                        $("#program-2").hide()
                        $("#program-1").hide()
                    });
                    $(".program-close").click(function () {

                        $(".program-container").animate({ 'left': '0', 'top': '0vh', 'width': '100%' });
                        $(".program-container").css({
                            'flex-flow': 'row'

                        });
                        $(".program-close").css({ 'right': '-50px' });
                        $("#program-3").hide()
                        $("#program-2").hide()
                        $("#program-1").hide()
                    });
                    $(".menu-mini-icon").click(function () {
                        $(".menu").toggle("slow");
                    });


                });
            }
        }
        var x = window.matchMedia("(min-width: 1500px)")
        var y = window.matchMedia("(max-width: 600px)")
        var a = window.matchMedia("(max-width: 768px)")
        var b = window.matchMedia("(max-width: 992px)")
        var c = window.matchMedia("(min-width: 992px)")



        max600px(y)
        max768px(a)
        max992px(b)



        min992px(c)
        min1500px(x)

        y.addEventListener(max600px)
        a.addEventListener(max768px)
        b.addEventListener(max992px)


        c.addEventListener(min992px)
        x.addEventListener(min1500px)
    </script>
</body>
<footer>
    <p class="footer">@2021 - Long Phan All Right Reservered</p>
</footer>

</html>